{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8"><!-- defining the format -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- fitting the width to span the whole screen -->
    <link rel="stylesheet" type="text/css" href="{% static 
      'website/style.css' %}"> <!-- refrencing the css file for the styles -->
    <!-- Bootstrap CSS for the navigation bar, found on the bootstrap website-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Power System Alarm Using SNS</title> <!-- creating the title of the link you will see in the tabs of the computer -->
  </head>
  <body><!-- This allows for te content to be refrenced and for their to be content on the webpage, and is essential for this website -->
    {% include 'navbar.html' %}
    <br> <!-- closing the paragraph -->
    <div class="container"></div><!-- This allows for te content to be refrenced and for their to be content on the webpage, and is essential for this website -->
        {% block content %}
            
        {% endblock %}
    </div>
    <!-- Bundling the Bootstrap with the Popper, as per bootraps wrbsite -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>




