{% block content %}
    <html>
    <head>
    
   <!-- Including the Bootstrap CSS file for formatting of all bootstrap used-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- GOogle maps import -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        
        <script type="module"> // module per firebases requirements
            console.log("Initializing Firebase...");
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";//initalizing the app
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js"; // analytics - not used 
            import { getAuth, createUserWithEmailAndPassword, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js"; //super importsnt, the functions for getting the authentication to write to firebase and using the function to send the password reset email
            import { getDatabase, ref, set } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js"; //getting the database setup, and creating a refrence and setting(writing)
                const firebaseConfig = { // firebase keys
                  apiKey: "AIzaSyCl06PfaiUY80Dk9ZBKGbBxNRfvGa-6Qkc",
                  authDomain: "website-4c33e.firebaseapp.com",
                  projectId: "website-4c33e",
                  storageBucket: "website-4c33e.appspot.com",
                  messagingSenderId: "1089782674580",
                  appId: "1:1089782674580:web:fa60f5c795c6241152b081",
                  measurementId: "G-FQJEDCK0SN"
                };
              
                // Initialize Firebase
                
                const app = initializeApp(firebaseConfig);
                const analytics = getAnalytics(app);
                const auth = getAuth();
                
                console.log("FIrebase done"); 
                // enabling the script tags that we need 
                const firebaseScriptTags = document.querySelectorAll('script[src^="https://www.gstatic.com/firebasejs/10.4.0/"]');
                for (const scriptTag of firebaseScriptTags) {
                scriptTag.onload = initializeFirebase;
                }
            
        
                $(document).ready(function(){ // making sure that when the page loads the modal pops up and it is the only thing available
                    $('#mypassword').modal('show'); // showing modal
            
                    // Intercept form submission
                    $('#passwordreset').submit(function(event) {
                        event.preventDefault(); // Prevent the default form submission
            
                        // Get the values of the input fields
                        var email = $('#email').val()
                        var emailregecton = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // checking for incorrect characters in the email
                        if (!emailregecton.test(email)) { // testing for these illegal email characters
                            alert('Please enter a valid email address'); //alerting the user if submitted with an incorrect email
                            return;
                        } // this is the email that will be used in the function to send the recovery email


                            if (email) { // just checking the email beforehand
                                console.log('something');
                                // Send the password reset email
                                sendPasswordResetEmail(auth, email) //using the provided function to send the recovery email
                                .then(function () {
                                    // Password reset email sent successfully
                                    console.log('Password reset email sent. Check your email inbox.');
                        
                                })
                                .catch(function (error) {
                                    // Handle errors, such as invalid email or server issues
                                    console.error('Password reset email could not be sent:', error);
                                    // handled from firebase forms
                                });
                            } else {
                                console.error('No user email available. Please use the registration link to create an account');
                                
                            }
                        
        
                                   // Close the modal
                    $('#mypassword').modal('hide');
                    window.location.href = 'http://127.0.0.1:8000/'; // once complete, redirect to the homepage
                    });
                });
            
            
       
                
            
        </script>
        <div id="mypassword" class="modal fade"> <!--modal for resetting the password-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> <!--tryhing to lock the whitespace and failing-->
                        <h4 class="modal-title">Please Enter Your Email</h4> <!--email to send the passsword too-->
        
                    </div>
                    <div class="modal-body">
                        <form id="passwordreset">
                            
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="Email"> <!--using this to ensure that the email is correct and is checked above-->
                            </div>
                            <p class="text-center">Don't have an account? <a href="registration/">Register here</a></p> <!--sending to the registration page if needed-->
                            <button type="submit" class="btn btn-primary">Send</button> <!--sending the email-->
                        </form>
        
                        
                    </div>
                </div>
            </div>
        </div>

        

    </body>
    </html>
{% endblock %}
